<div id="parent" class="container-fluid">
  <h1>Keep Working</h1>
  <h5 style="color: rgb(79, 80, 82)">
    Pick up where you left off last time - the best way to level up from
    learning resources is to finish each one in its entirety
  </h5>
  <hr />

  <h1>Popular</h1>
  <h5 style="color: rgb(79, 80, 82)">
    An assortment of resources that are trending recently
  </h5>
  <hr />

  <h1>Try Something New</h1>
  <h5 style="color: rgb(79, 80, 82)">
    Some suggestions to encourage spreading out your range of knowledge
  </h5>
  <hr />
</div>
