#body {
  background-color: #171717;
}

.jumbotron {
  border-radius: 0%;
  background-color: #171717;
  /* background: linear-gradient(); */
}

#parent {
  padding-top: 50px;
  width: 70%;
}

#jumbo-header {
  margin-top: 125px;
}

#jumbo-container {
  width: 80%;
}

.jumbo-divider {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: static;
  height: 8px; 
  background: linear-gradient(to right,#171717,rgb(41, 41, 41), #171717);
}

.separator {
  bottom: -4px;
  left: 0;
  overflow: hidden;
  position: absolute;

  width: 100%;
}

.display-2 {
  color: rgb(255, 255, 255);
  font-size: 70px; 
  opacity: 80%;
  font-weight: normal;
  margin: 10px 0 20px; 
  text-transform: uppercase; 
  text-shadow: 2px 2px 0 rgb(218, 218, 218); 
  margin: 10px 0 24px; 
  text-align: center;
}

h6 {
  width: 60%;
  color: rgb(79, 80, 82);
}

@media (max-width: 1400px) {
  h6 {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  h6 {
    width: 90%;
  }
}

@media (max-width: 800px) {
  h6 {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .card-text {
    width: auto;
  }
}
