<div class="container login-container mt-0 pt-0">
  <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
    <app-text-input
      [formControl]="loginForm.controls['username']"
      [placeholder]="'Username'"
      [label]="'Username'"
      [showLabel]="false"
    ></app-text-input>
    <app-text-input
      [formControl]="loginForm.controls['password']"
      [placeholder]="'Password'"
      [type]="'password'"
      [label]="'Password'"
      [showLabel]="false"
    >
    </app-text-input>
    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{ error }}
        </li>
      </ul>
    </div>

    <div class="form-group">
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-info mr-2"
        type="submit"
      >
        Login
      </button>
      <button
        id="register"
        class="btn btn-link mr-2"
        (click)="openModalWithClass(template)"
        type="button"
      >
        Register
      </button>
    </div>
  </form>
</div>

<ng-template #template>
  <app-generic-modal [modalRef]="modalRef">
    <app-registration [onSubmitAction]="onModalSubmit" [onSubmitFailedAction]="onModalFailure"></app-registration>
  </app-generic-modal>
</ng-template>

<ng-template #failedModal>
  <app-generic-modal [modalRef]="failedModalRef">
    <p>Failed to register!!!</p>
  </app-generic-modal>
</ng-template>