<h1 class="mt-5 mb-0">Posts</h1>
<hr class="mt-1" />
<div *ngFor="let post of learningResource.posts.slice(0, maxVisiblePosts)">
  <div *ngIf="post.userPostAction !== 2" class="mt-4">
    <div class="row">
      <span class="mr-2 ml-3"
        ><img
          class="rounded-circle mt-1"
          src="{{
            learningResource.userResourceState?.user?.imageUrl
              ? learningResource.userResourceState?.user?.imageUrl
              : './assets/angular-logo.png'
          }}"
          height="50px"
          width="50px"
      /></span>
      <span class="mt-1">
        <strong
          ><p class="mb-0" style="font-size: 1.1em; color: rgb(12, 73, 126)">
            <a href="">Matthew Welte</a>
          </p></strong
        >
        <em
          ><p class="text-muted mb-2" style="font-size: 0.9em">
            Posted 100 days ago
          </p></em
        >
      </span>
    </div>
    <div
      class="mt-1 rounded"
      style="width: 100%; border: 2px solid rgba(213, 213, 213, 0.753)"
    >
      <textarea
        #readonlyPost
        id="post-{{ post.postId }}"
        class="p-3 form-control pb-4"
        [style.height.px]="
          post['expanded'] && post['expanded'] === true
            ? getPostContentHeight(readonlyPost)
            : 200
        "
        [style.overflow]="post['expanded'] ? 'hidden' : ''"
        style="background-color: rgb(250, 250, 250)"
        readonly
        >{{ post.content }}</textarea
      >
      <div
        class="post-expand-button"
        type="button"
        (click)="resizePostContent(post)"
      >
        <i
          class="fas fa-md"
          [class]="post['expanded'] ? 'fa-sort-up' : 'fa-sort-down'"
        ></i>
      </div>
    </div>
    <div class="mt-2 mb-2 font-italic">
      <span class="like-button" type="button" (click)="like(post)">
        <i
          class="fa-heart fa-md ml-2"
          [ngClass]="{
            fas: post.userPostAction === 1,
            far: post.userPostAction !== 1
          }"
        ></i>
        <span class="ml-1" style="font-size: 0.9rem">{{
          post.likes === 0 ? "" : post.likes
        }}</span>
      </span>
      <span
        class="float-right report-button"
        (click)="report(post)"
        type="button"
      >
        <i class="fas fa-times fa-md"></i>
        {{ post.userPostAction === 2 ? "" : "Report" }}
      </span>
    </div>
  </div>
</div>

<div>
  <button
    *ngIf="maxVisiblePosts < learningResource.posts.length"
    class="btn btn-info mt-2 w-100"
    (click)="incrementPosts()"
  >
    <i class="fa fa-sort-down mr-2"></i> See More Posts
    <i class="fa fa-sort-down ml-2"></i>
  </button>
</div>

<div id="new-post-container">
  <app-new-post
    [learningResourceId]="learningResource.learningResourceId"
    (addPost)="addPost($event)"
  ></app-new-post>
</div>
