<div *ngIf="this.user">
  <div class="jumbotron mb-4" style="padding-top: 150px; margin: 0px">
    <div class="container-fluid" style="width: 80%">
      <h1 class="display-2">{{ user?.firstName }} {{ user?.lastName }}</h1>
      <hr class="my-4" />
      <h2 class="display-5">
        <em>{{ user?.userName }}</em>
      </h2>
      <p class="lead">{{ user?.technicalSummary }}</p>
    </div>
  </div>

  <!-- List of PostPreviews -->
  <div class="container-fluid" style="width: 100%; margin: 0px">
    <div class="container-fluid" style="width: 80%">
      <h2>Your Posts</h2>
      <hr />
      <div class="card-deck">
        <div class="card item-card" *ngFor="let post of user?.posts">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <img
                  src="{{ post.learningResource.imageUrl }}"
                  style="width: 100%; border-radius: 1em"
                />
              </div>
              <div class="col-8">
                <h5 class="card-title">
                  {{ post.learningResource.title | uppercase }}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ post.learningResource.type }}
                </h6>
              </div>
            </div>
            <hr />
            <p class="card-text">
              {{
                post.content.length > 300
                  ? post.content.substring(0, 300).trim() + "..."
                  : post.content
              }}
            </p>
          </div>
        </div>
      </div>

      <!-- List of CommentPreviews -->
      <h2>Your Post Comments</h2>
      <hr />
      <div class="card-deck">
        <div class="card item-card" *ngFor="let comment of user?.comments">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <img
                  src="{{ comment.post.learningResource.imageUrl }}"
                  style="width: 100%; border-radius: 1em"
                />
              </div>
              <div class="col-8">
                <h5 class="card-title">
                  {{ comment.post.learningResource.title | uppercase }}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ comment.post.learningResource.type }}
                </h6>
              </div>
            </div>
            <hr />
            <h6 class="card-subtitle mb-2 text-muted">
              {{
                comment.post.content.length > 130
                  ? comment.post.content.substring(0, 130).trim() + "..."
                  : comment.post.content
              }}
            </h6>
            <hr />
            <p class="card-text">
              {{
                comment.content.length > 150
                  ? comment.content.substring(0, 150) + "..."
                  : comment.content
              }}
            </p>
          </div>
        </div>
      </div>

      <!-- List of LearningResourcePreviews -->
      <h2>Your Published Learning Resources</h2>
      <hr />
      <div class="card-deck">
        <div
          class="card item-card"
          *ngFor="let learningResource of user?.learningResources"
        >
          <img
            class="card-img-top"
            src="{{ learningResource.imageUrl }}"
            alt="Card image cap"
            style="border-radius: 20px 20px 0px 0px"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ learningResource.title | uppercase }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ learningResource.type }}
            </h6>
            <p class="card-text">
              {{
                learningResource.description.length > 300
                  ? learningResource.description.substring(0, 300).trim() +
                    "..."
                  : learningResource.description
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
