.card-container {
  justify-content: center;
}

.card-img-top {
  height: 250px;
  width: auto;
  border-radius: 20px 20px 0px 0px;
}

.card-text {
  width: 420px;
}

.logo-pill {
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  height: 70px;
  width: 70px;
  justify-content: center;
  text-align: center;
}

.progress {
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
}

.progress-bar {
  background-color: rgb(197, 238, 185);
  color: black;
}

.skill-point-number {
  font-size: 0.9rem;
}

h6 {
  width: 60%;
  color: rgb(79, 80, 82);
}

.card {
  margin-right: 13px;
  margin-left: 13px;
}

.card:hover {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}

.tech-logo {
  margin-top: 13px;
}

.item-card {
  transition: 0.2s;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  margin: 0.5em;
  background-color: rgb(253, 253, 248);
}

@media (max-width: 1400px) {
  h6 {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  h6 {
    width: 90%;
  }
}

@media (max-width: 800px) {
  h6 {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .card-text {
    width: auto;
  }
}
