<div
  class="card col-auto item-card px-0"
  (mouseenter)="textualSkillsView()"
  (mouseleave)="graphicalSkillsView()"
  routerLink="{{ learningResource?.learningResourceId }}"
>
  <img
    class="card-img-top"
    src="{{ learningResource?.imageUrl }}"
    alt="Card image cap"
  />
  <div class="card-body pb-2">
    <h5 class="card-title">
      <strong>{{ learningResource?.type }} | </strong>
      {{ learningResource.title | titlecase }}
    </h5>
    <h6 class="card-subtitle text-muted mr-0">
      <em>Viewers: </em>{{ learningResource.viewers }}
    </h6>
    <hr />
    <p class="card-text mt-2">
      {{ learningResource?.description | textSummary:150 }}
    </p>
  </div>
  <div class="row mb-3 mx-2 card-container">
    <div
      *ngIf="learningResource?.showLogos; then graphical; else textual"
      class="p-0"
    ></div>
    <ng-template #graphical>
      <div
        *ngFor="let skill of learningResource?.skills"
        class="logo-pill ml-2 mr-2 p-0 col-auto rounded-circle"
      >
        <img
          class="rounded tech-logo"
          src="./assets/{{ skill.avatarUrl }}"
          width="48px"
          height="48px"
        />
      </div>
    </ng-template>
    <ng-template #textual>
      <div
        *ngFor="let skill of learningResource?.skills"
        class="col-auto mt-3 mx-0 px-2 py-0 text-center"
      >
        <span
          class="px-2 py-1 logo-pill skill-point-number"
          [style.color]="skill.bgColorHex"
        >
          <strong>{{ skill.name }}</strong>
        </span>
        <p class="mb-0 mt-1"><strong>+25</strong></p>
      </div>
    </ng-template>
  </div>
  <div
    *ngIf="learningResource?.progressPercent"
    class="progress mt-2 mb-3 mx-3"
  >
    <div
      class="progress-bar"
      role="progressbar"
      [style.width.%]="learningResource.progressPercent"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <i id="percent"
        ><strong>{{ learningResource?.progressPercent }}%</strong></i
      >
    </div>
  </div>
</div>
