@import "../../scss/themes.scss";

$height: 300px;

#parent {
  height: $height;
}

.nav-btn {
  color: $theme-blue;
}

.navigation-block {
  height: $height;
  width: 10px;
  padding-top: 130px;
  padding-bottom: 150px;
}

.card-container {
  justify-content: center;
}
