#home-panel {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 0px;
}

#bb-icon {
  width: 200px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.768));
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.parent {
  overflow: hidden;
  position: relative;
}

.home-background {
  width: 100%;
  overflow: hidden;
  background-image: url("../../assets/min-space-bg-3.jpg");
  background-size: cover;
}

.login-block {
  background-color: transparent;
  color: black;
  max-width: 500px;
  margin-bottom: 350px;
}

.floating-debris {
  width: 200px;
  position: absolute;
  height: auto;
  transform: translatey(0px);
  -webkit-filter: drop-shadow(0px 10px 10px rgb(21, 2, 39));
  filter: drop-shadow(0px 10px 10px rgb(21, 2, 39));
  animation: move 20s linear 0s infinite;
}

@keyframes move {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-3000px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
