.unselected-skill {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(238, 238, 238);
}

.unselected-skill:hover {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(242, 242, 242);
}

.selected-skill {
  background-color: rgb(224, 252, 220);
}

.skill-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
