<div class="container login-container mt-0 pt-0">
    <form [formGroup]="resourceSuggestionForm" (ngSubmit)="resourceSuggestionForm.valid && submitSuggestion()">
        <div *ngFor="let group of formConfig.groups">
            <h4 *ngIf="group.header" class="my-3 form-header">
                <i *ngIf="group.icon" [ngClass]="['fas', 'fa-lg', group.icon]"></i
        ><strong class="ml-3">{{ group.header }}</strong>
      </h4>
      <div *ngFor="let row of group.rows" class="row">
        <div *ngFor="let field of row.fields" class="col-lg">
          <app-text-input
            [formControl]="resourceSuggestionForm.controls[field.name]"
            [type]="field.type"
            [label]="field.label"
            [required]="field.required"
            [placeholder]="field.placeholder"
            [rows]="field.rows ? field.rows : ''"
            [readonly]="field.readonly"
          ></app-text-input>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div
          *ngFor="let skill of skills"
          class="col-auto rounded-circle m-2"
          style="padding: 15px"
          (click)="toggleSkill(skill)"
          (mouseenter)="hoverSkill(skill, true)"
          (mouseleave)="hoverSkill(skill, false)"
          type="button"
          [ngClass]="skill.selected ? 'selected-skill' : 'unselected-skill'"
        >
          <img
            *ngIf="!skill.hovered"
            class="rounded skill-bubble"
            src="./assets/{{ skill.avatarUrl }}"
          />
          <div
            *ngIf="skill.hovered"
            class="rounded-cirlce skill-name skill-bubble"
          >
            <p class="mb-0" [style.color]="skill.bgColorHex">
              <strong>{{ skill.name }}</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group mt-5">
      <button
        [disabled]="!resourceSuggestionForm.valid"
        class="btn btn-info mr-2"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>