$theme-red: #e63946;
$theme-red-border: #b41d29;

$theme-offwhite: #fcfaee;
$theme-offwhite-border: #d8d5c6;

$theme-baby-blue: #a8dadc;
$theme-baby-border: #88b4b6;

$theme-blue: #457b9d;
$theme-blue-border: #2f5770;

$theme-navy: #1d3557;
$theme-navy-border: #112136;

$theme-blank: whitesmoke;
$theme-blank-border: rgb(223, 223, 223);
