[
  {
    'repeat(100)':
    {
      Content: function(num) { return lorem(integer(1,3), "paragraphs"); },
      Likes: '{{integer(0,90)}}',
      Reports: '{{integer(0,5)}}',
      UserId: '{{integer(1,20)}}',
      LearningResourceId: '{{integer(1,30)}}'
    }
  }
  
]