@media (min-width: 576px) {
  .container-fluid {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    width: 60%;
  }
}
