#parent {
  margin-top: 150px;
  width: 70%;
}

.card {
  transition: 0.2s;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  margin: 0.5em;
  background-color: rgb(253, 253, 248);
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.6rem;
  margin-bottom: 80px;
}

.card:hover {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}

.card-img-top {
  padding: 50px;
  height: 650px;
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 1500px) {
  .card-img-top {
    height: 475px;
  }
}

@media (max-width: 1200px) {
  .card-img-top {
    height: 375px;
  }
}

/* @media (max-width: 800px) {
  .card-img-top {
    height: 450px;
  }
} */