<div class="parent">
  <div class="p-0 home-background">
    <div id="home-panel">
      <img id="bb-icon" src="./assets/bb-icon.png" />
      <div class="container-fluid login-block">
        <img
          *ngFor="let debris of imageDebris"
          class="floating-debris"
          src="{{ debris?.src }}"
          [style.top.px]="debris?.y"
          [style.left.px]="debris?.x"
          [style.width.px]="debris.width || 200"
        />
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>