<app-jumbotron>
  <h1 class="display-3">Start Learning Today</h1>
  <hr class="my-4" />
  <p class="lead">
    Browse the below selection of learning resources and continue to grow as a
    developer while leveling up!
  </p>
</app-jumbotron>

<div id="parent" class="container">
  <div *ngIf="resources">
    <h2 class="section-header">Keep Working</h2>
    <h6>
      <em
        >Pick up where you left off last time - the best way to level up from
        learning resources is to finish each one in its entirety</em
      >
    </h6>
    <hr />
    <app-learning-resource-card-group [resources]="resources">
    </app-learning-resource-card-group>
  </div>
  <h2 class="mt-4 section-header">Popular</h2>
  <h6>An assortment of resources that are trending recently</h6>
  <hr />
  <app-learning-resource-card-group [resources]="allResources">
  </app-learning-resource-card-group>

  <div *ngIf="resources">
    <h2 class="mt-4 section-header">Try Something New</h2>
    <h6>Some suggestions to encourage spreading out your range of knowledge</h6>
    <hr />
  </div>
</div>
