<div class="jumbotron pb-2" *ngIf="learningResource">
  <div id="header" class="container-fluid mt-5">
    <h1 style="font-size: 60px" class="mb-0">
      {{ learningResource.title | titlecase }}
    </h1>
    <p class="text-muted mt-0" style="font-size: 1.1em">
      Submitted By: Matthew Welte
    </p>
    <hr />
    <div
      *ngIf="learningResource.userResourceState?.progressPercent"
      class="progress mt-4"
      style="background-color: rgb(247, 247, 247)"
    >
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="learningResource.userResourceState?.progressPercent"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <i id="percent"
          >{{ learningResource.userResourceState?.progressPercent }}%</i
        >
      </div>
    </div>
    <div class="skill-row">
      <div
        *ngFor="let skill of learningResource.skills"
        class="badge badge-pill mb-0"
      >
        <div class="mt-3">
          <img
            class="rounded tech-logo"
            src="./assets/{{ skill.avatarUrl }}"
            width="55px"
            height="55px"
            alt=""
          />
          <p class="mt-2" style="font-size: 1.3em">+25</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="learningResource">
  <img
    width="100%"
    src="{{ learningResource.imageUrl }}"
    style="border-radius: 3%"
  />
  <h1 class="mt-5 mb-0">Description</h1>
  <hr class="mt-1" />
  <p class="text-muted">{{ learningResource.description }}</p>

  <h1 class="mt-5 mb-0">Posts</h1>
  <hr class="mt-1" />
  <div *ngFor="let post of learningResource.posts">
    <div *ngIf="post.userPostAction !== 2">
      <div class="row">
        <span class="mr-2 ml-3"
          ><img
            class="rounded-circle mt-1"
            src="{{
              learningResource.userResourceState?.user?.imageUrl
                ? learningResource.userResourceState?.user?.imageUrl
                : './assets/angular-logo.png'
            }}"
            height="50px"
            width="50px"
        /></span>
        <span class="mt-1">
          <strong
            ><p class="mb-0" style="font-size: 1.1em; color: rgb(12, 73, 126)">
              <a href="">Matthew Welte</a>
            </p></strong
          >
          <em
            ><p class="text-muted mb-2" style="font-size: 0.9em">
              Posted 100 days ago
            </p></em
          >
        </span>
      </div>
      <div
        class="mt-1 rounded"
        style="width: 100%; border: 2px solid rgba(213, 213, 213, 0.753)"
      >
        <textarea
          #readonlyPost
          id="post-{{ post.postId }}"
          class="p-3 form-control pb-4"
          [style.height.px]="
            post['expanded'] && post['expanded'] === true ? getPostContentHeight(readonlyPost) : 200
          "
          [style.overflow]="post['expanded'] ? 'hidden' : ''"
          style="
            white-space: pre-wrap;
            width: 100%;
            background-color: rgb(251, 251, 251);
            border: none;
            resize: none;
          "
          readonly
          >{{ post.content }}</textarea
        >
        <div
          type="button"
          style="
            text-align: center;
            width: 100%;
            background-color: rgb(240, 243, 247);
          "
          (click)="resizePostContent(post)"
        >
          <i
            class="fas fa-md"
            [class]="post['expanded'] ? 'fa-sort-up' : 'fa-sort-down'"
          ></i>
        </div>
      </div>
      <div class="mt-2 mb-5 font-italic">
        <span
          style="color: rgb(182, 20, 142)"
          type="button"
          (click)="like(post)"
        >
          <i
            class="fa-heart fa-md ml-2"
            [ngClass]="{
              fas: post.userPostAction === 1,
              far: post.userPostAction !== 1
            }"
          ></i>
          <span class="ml-1" style="font-size: 0.9rem">{{
            post.likes === 0 ? "" : post.likes
          }}</span>
        </span>
        <span
          class="float-right"
          style="color: rgb(146, 11, 11)"
          (click)="report(post)"
          type="button"
        >
          <i class="fas fa-times fa-md"></i>
          {{ post.userPostAction === 2 ? "" : "Report" }}
        </span>
      </div>
    </div>
  </div>
  <div>
    <hr />
    <h5>New Post</h5>
    <textarea name="" id="" rows="10" style="white-space: nowrap"> </textarea>
  </div>
</div>
