<div class="jumbotron pb-2">
  <div id="header" class="container-fluid mt-5">
    <h1 style="font-size: 60px" class="mb-0">
      {{ learningResource.title | titlecase }}
    </h1>
    <p class="text-muted mt-0" style="font-size: 1.1em">
      Submitted By: Matthew Welte
    </p>
    <hr />
    <div *ngIf="userProgression" class="progress mt-4" style="background-color: rgb(247, 247, 247)">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="userProgression?.progressPercent"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <i id="percent">{{userProgression?.progressPercent}}%</i>
      </div>
    </div>
    <div class="skill-row">
      <div
        *ngFor="let skill of learningResource.skills"
        class="badge badge-pill mb-0"
      >
        <div class="mt-3">
          <img
            class="rounded tech-logo"
            src="./assets/{{ skill.avatarUrl }}"
            width="55px"
            height="55px"
            alt=""
          />
          <p class="mt-2" style="font-size: 1.3em">+25</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <img
    width="100%"
    src="{{ learningResource.imageUrl }}"
    style="border-radius: 3%"
  />
  <h1 class="mt-5 mb-0">Description</h1>
  <hr class="mt-1" />
  <p class="text-muted">{{ learningResource.description }}</p>

  <h1 class="mt-5 mb-0">Posts</h1>
  <hr class="mt-1" />
  <div *ngFor="let post of learningResource.posts">
    <div class="row">
      <span class="mr-2 ml-3"
        ><img
          class="rounded-circle mt-1"
          src="{{ userProgression.user.imageUrl ? userProgression.user.imageUrl : './assets/angular-logo.png' }}"
          height="50px"
          width="50px"
      /></span>
      <span class="mt-1">
        <strong
          ><p class="mb-0" style="font-size: 1.1em; color: rgb(12, 73, 126)">
            <a href="">Matthew Welte</a>
          </p></strong
        >
        <em
          ><p class="text-muted mb-2" style="font-size: 0.9em">
            Posted 100 days ago
          </p></em
        >
      </span>
    </div>
    <div
      class="mt-1 rounded"
      style="width: 100%; border: 2px solid rgba(213, 213, 213, 0.753)"
    >
      <p class="p-2">
        {{ post.content }}
      </p>
    </div>
    <div class="mt-2 mb-5">
      <button
        type="button"
        class="btn btn-light mr-3"
        style="border-radius: 10em"
        (click)="like(post.postId)"
      >
        <span style="color: rgb(0, 132, 255)">
          <i
            class="fa-heart fa-lg"
            [class.far]="!likeMap[post.postId]"
            [class.fas]="likeMap[post.postId]"
          ></i>
          {{ likeMap[post.postId] ? "" : "Like" }}
        </span>
      </button>
      <button
        type="button"
        class="btn btn-light"
        style="border-radius: 10em"
        (click)="report(post.postId)"
      >
        <span style="color: rgb(255, 89, 0)">
          <i
            [class.fas]="reportMap[post.postId]"
            [class.fa-flushed]="reportMap[post.postId]"
            [class.far]="!reportMap[post.postId]"
            [class.fa-frown]="!reportMap[post.postId]"
            class="fa-lg"
          ></i>
          {{ reportMap[post.postId] ? "" : "Report" }}
        </span>
      </button>
    </div>
  </div>
</div>
