<app-learning-resource-detail-jumbotron [learningResource]="learningResource">
</app-learning-resource-detail-jumbotron>

<div class="container-fluid" *ngIf="learningResource">
  <img
    width="100%"
    src="{{ learningResource.imageUrl }}"
    style="border-radius: 3%"
  />
  <h1 class="mt-5 mb-0">Description</h1>
  <hr class="mt-1" />
  <p class="text-muted">{{ learningResource.description }}</p>

  <app-learning-resource-detail-posts [learningResource]="learningResource">
  </app-learning-resource-detail-posts>
</div>
